<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>我有两把枪</title>
</head>
<style>
    .btns{width: 50%;height: 50%;position: fixed;top:50%;left: 50%;margin: -30% 0 0 -25%;}
    .btns button{display: block;width: 100%;height: 20%;margin-bottom: 10%;  line-height: 20%;text-align: center;background: rgba(0,0,0,0.8);border-radius:10px;color: white;font-family: '微软雅黑';font-size:300% ;}
</style>
<body>

<div class="btns" >
    <button onclick="window.location.href='/question1'"  >点击进入第一题</button>
    <button onclick="window.location.href='/question2'" >点击进入第二题</button>
    <button onclick="window.location.href='/question3'"  style="margin-bottom: 0;" >点击进入第三题</button>
</div>


</body>
</html>